workflows/it-support/SmartSupport Flow_ Auto-Handle IT Requests from Email to JIRA with Slack notification.json
{
  "name": "SmartSupport Flow: Auto-Handle IT Requests from Email to JIRA with Slack notification",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "sender": "@your-company.com"
        }
      },
      "id": "7ea5f70a-e73f-4855-9c7d-a0250cd25707",
      "name": "Check for New Emails\t",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        1072,
        272
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "H7sjR2BPgroyiXbd",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "ed7f8c8b-3410-4468-a235-d8f23400fa7c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1840,
        656
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "tnXtbK3d66hDjxXa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"request_id\": \"IT-REQ-20240701-001\",\n    \"requested_by\": {\n      \"name\": \"\",\n      \"department\": \"\"\n    },\n    \"from\":\"\",\n    \"category\": \"Feature\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"title\": \"Purchase 2TB SSD compatible with MacBook\",\n    \"description\": \"Request to purchase a 2TB or larger SSD compatible with MacBook for data backup and transfer purposes. The requester expects the SSD to be reliable and durable. Delivery is expected by 2024-07-05. Please proceed with sourcing a compatible model and ensure proper procurement process is followed. Original request came via IT support email.\",\n    \"due_date\": \"2024-07-05\",\n    \"created_at\": \"2024-07-01T10:30:00Z\",\n    \"original_email_content\":\"\"\n  }\n]"
      },
      "id": "6ff2f3e0-ea18-40a6-87b7-7c8f3eb11960",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1968,
        656
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b7ce59c7-e142-45f1-99fe-c03ca2cbda46",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Support Request Reader Agent').item.json.output[0].from}}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e5819c3b-0a3e-4774-a9a2-df1868e86ea2",
      "name": "Check requester email",
      "type": "n8n-nodes-base.filter",
      "position": [
        3600,
        864
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json['IT support slack channel'] }}"
        },
        "text": "=📩 *New IT Support Request Submitted*\n👤 *Requested by:* {{ $('Support Request Reader Agent').item.json.output[0].requested_by.name }} | ({{ $('Support Request Reader Agent').item.json.output[0].requested_by.department }})\n🎯 *Category:* {{ $('Support Request Reader Agent').item.json.output[0].category }}\n📊 *Priority:* {{ $('Support Request Reader Agent').item.json.output[0].priority }}\n📝 *Title:* {{ $('Support Request Reader Agent').item.json.output[0].title }}\n\n🧾 *Description:*  \n{{ $('Support Request Reader Agent').item.json.output[0].description }}\n\n🔗 *Track in Jira:* {{ $json[\"Jira base URL\"] }}/browse/{{ $('Submit JIRA request ticket').item.json.key }}\n\n📣 Please take action or assign accordingly.",
        "otherOptions": {}
      },
      "id": "84ad9307-b51b-4769-b87f-2439b9925e65",
      "name": "Send message to IT Support team",
      "type": "n8n-nodes-base.slack",
      "position": [
        3600,
        672
      ],
      "webhookId": "c3f752c7-3664-4080-8a74-77416fee3fc1",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "50sk9yul5PctbgzM",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "={{ $('Setup Jira, Slack, Email').item.json[\"IT support email\"] }}",
        "fromName": "IT Support",
        "toEmail": "={{ $('Support Request Reader Agent').item.json.output[0].from }}",
        "subject": "Your IT Support Request Has Been Logged",
        "contentType": "text/html",
        "contentValue": "=Dear {{ $('Support Request Reader Agent').item.json.output[0].requested_by.name }},  \n\nThank you for reaching out to the IT Support team.  We’ve received your request regarding: <b>{{ $('Support Request Reader Agent').item.json.output[0].title }}</b>  \n📝 <b>Summary:</b>   {{ $('Support Request Reader Agent').item.json.output[0].description }} \nYour request has been successfully logged in our system and is now being processed by the IT Support team.  \n🔗 You can track the status of your request here:   <a href=\"{{ $json[\"Jira base URL\"] }}/browse/{{ $('Submit JIRA request ticket').item.json.key }}\">{{ $('Submit JIRA request ticket').item.json.key }}</a>  \nOur team will review it shortly and follow up with any updates or actions needed.  \n\nBest regards,   \nIT Support Team   SmartIT",
        "additionalFields": {}
      },
      "id": "1aba2fba-2707-4c96-b9e2-d116b8d2075f",
      "name": "Send email to requester",
      "type": "n8n-nodes-base.sendGrid",
      "position": [
        3824,
        864
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "7e62e698-2540-4e64-a6b5-d1ace387dc01",
      "name": "Get Email Content",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1296,
        272
      ],
      "webhookId": "6c809fc4-0532-4094-b32b-43951734fad1",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "H7sjR2BPgroyiXbd",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "f908fb65-4a5a-4328-8b35-74b113d6e476",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3232,
        368
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "tnXtbK3d66hDjxXa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"request_id\": \"req-001\",\n  \"proposed_solutions\": [\n    {\n      \"solution_title\": \"Option 1: Use Samsung T7 Shield 2TB SSD for Backup\",\n      \"description\": \"A rugged, high-speed portable SSD compatible with MacBook via USB-C, suitable for backing up large volumes of data.\",\n      \"action_type\": \"Procurement\",\n      \"recommendation_details\": [\n        \"Plug-and-play compatibility with MacBooks\",\n        \"Shock-resistant and durable for travel use\",\n        \"Offers up to 1,050 MB/s read/write speed\"\n      ],\n      \"reference_link\": \"https://www.samsung.com/us/computing/memory-storage/portable-solid-state-drives/2tb-t7-shield-usb-3-2-ssd-black-mu-pe2t0s-am/\"\n    },\n    {\n      \"solution_title\": \"Option 2: Use Company NAS Drive for Backup\",\n      \"description\": \"Set up a secure folder on the company's Synology NAS and mount it on the MacBook for automatic scheduled backups over the local network.\",\n      \"action_type\": \"Configuration / Internal Setup\",\n      \"recommendation_details\": [\n        \"Avoids hardware purchase\",\n        \"Ensures centralized access and version control\",\n        \"Can automate backups using Time Machine\"\n      ],\n      \"reference_link\": \"https://kb.synology.com/en-global/DSM/tutorial/How_to_back_up_files_from_Mac_to_Synology_NAS\"\n    }\n  ],\n  \"recommendation_notes\": \"If physical mobility and speed are critical, the portable SSD is a better choice. If centralized backup with internal hardware suffices, using the existing NAS is more cost-efficient.\"\n}"
      },
      "id": "5a1a839f-a122-47d9-9144-82e31460be6c",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3360,
        368
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is a structured IT request extracted from an employee support email. Please review and suggest the best solution:\n---\nTitle:  {{ $('Support Request Reader Agent').item.json.output[0].title }}\nDescription: {{ $('Support Request Reader Agent').item.json.output[0].description }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an IT Support Agent responsible for reviewing structured internal support requests and proposing actionable solutions.  Your goal is to assist the IT team by: - Understanding the request context (e.g., device, software, access issue, feature need) - Recommending one or more solutions, such as:   - A product or device to purchase (including model, link, and key specs)   - A service to use or subscribe to   - Internal next steps the team can take to resolve the request  You may search the internet for updated and relevant product recommendations. Prioritize reliability, compatibility, and business suitability.  When responding: - Be concise and professional - Include specific product names and links if suggesting purchases - Explain why the solution is appropriate - Mention any considerations (e.g., delivery time, compatibility, vendor trust)  Do **not** reformat the input — your role is to provide the recommendation, not convert or restate the request."
            }
          ]
        },
        "batching": {}
      },
      "id": "03d8ad03-249a-46b8-ab41-37619698a84f",
      "name": "IT Support Advisor Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3200,
        144
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is the content of an email sent to IT support. Please analyze the request and extract all necessary information according to your responsibilities.\nEmail from: {{ $json.from.text }} <- use this information to know who send the email\nBelow is the request (use this to know requested_by)\n---\n{{ $json.text }}\n---",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent IT Support Assistant.\n\nYour responsibility is to analyze incoming emails sent to the IT support team and extract all relevant information needed for internal processing.\n\nHere’s what you must do:\n\n1. Read the entire email content, including the sender info (`From:`) and the message body.\n2. Identify the **actual requester** by checking:\n   - The **signed name and role** at the end of the message (e.g., \"Thanks, John Doe, IT Manager\")\n   - If no signed name is found, then fall back to the `From:` information as the requester.\n3. Extract the following information:\n   - Name, email, and department of the actual requester\n   - Request category (Feature, Incident, Access Request, Maintenance)\n   - Priority level (Low, Medium, High, Critical)\n   - Title of the request (summarized from the intent)\n   - Description with sufficient technical and business context\n   - Due date if any\n   - The full original email content (for reference)\n\nDo not assume the email sender is the requester if the message is clearly written **on behalf of someone else** or **signed by another person**.\n\nReturn your output as clearly structured data. Do not generate JSON — this will be handled downstream."
        }
      },
      "id": "b274b780-aeaa-40fd-9231-99e80e131111",
      "name": "Support Request Reader Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1808,
        432
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $('Submit JIRA request ticket').item.json.key }}",
        "comment": "=The following solution has been proposed by the IT Support Advisor Agent to address this request:\n---\n🔧 Recommended Solution:\n{{ $json.output.proposed_solutions[0].solution_title }}\n📝 Description:\n{{ $json.output.proposed_solutions[0].description }}\n📌 Key Considerations:\n{{ $json.output.proposed_solutions[0].recommendation_details }}\n🔗 Reference (if applicable):\n{{ $json.output.proposed_solutions[0].reference_link }}\n💬 Advisor Notes:\n{{ $json.output.recommendation_notes }}\n---\nPlease review and proceed with the next steps as appropriate. If clarification or additional input is needed, feel free to consult the requester or loop in relevant stakeholders.",
        "options": {}
      },
      "id": "eb4d305d-e2c9-4418-b45e-6f36e866d9bc",
      "name": "Add resolution comment to tracking ticket",
      "type": "n8n-nodes-base.jira",
      "position": [
        3632,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "JYLuW2YJGNu3c4WM",
          "name": "Automatewith.me"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "71658004-4d44-4fbc-8a45-55136c56b6e3",
      "name": "Mark a message as read",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1952,
        128
      ],
      "webhookId": "8f8bb2c2-9726-4af5-b79e-9a7f54b4caae",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "H7sjR2BPgroyiXbd",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8f897b7e-1791-45ba-b191-3d4a86892be2",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $('Get Email Content').item.json.labelIds }}",
              "rightValue": "UNREAD"
            }
          ]
        },
        "options": {}
      },
      "id": "a1e2d2be-ac1a-4a2f-8bc4-4cced1d42823",
      "name": "Email has been processed?",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## SmartSupport Flow: Auto-Handle IT Requests from Email to JIRA with Slack notification\n### Watch the demo video below:\n[![Watch the video](https://s3.ap-southeast-1.amazonaws.com/automatewith.me/gmail-to-jira-n8n-automation-workflow.jpg)](https://youtu.be/nC2mSry3xFo)\n### **Who’s it for**\n> This workflow is built for **lean IT teams, office managers, and business operators** who receive support requests via email and want to **automate ticket creation, smart AI resolution advice, and seamless communication** with both users and internal teams, all without lifting a finger.  \nIf your team is tired of manually triaging inbox requests, this AI-powered flow will transform your support handling process.\n\n### **How it works / What it does**\n\n1. **Trigger on New Email**: Uses Gmail Trigger to detect new support request emails.\n2. **Fetch Email Content**: Retrieves the full message body and metadata.\n3. **Check for Duplication**: Skips processing if the email has already been handled (based on READ/UNREAD label).\n4. **Mark as Read**: Updates Gmail to mark the email as processed.\n5. **Extract Structured Request**: Uses the `Support Request Reader Agent` powered by OpenAI to extract:\n   - Request title\n   - Request description\n   - Requested by\n   - Department\n   - Category and priority\n6. **Create Jira Ticket**: A main issue is created in Jira using the structured request.\n7. **Generate AI-Based Solution**: Invokes the `IT Support Advisor Agent` to propose resolution(s).\n8. **Post Comment to Jira**: Adds the suggested solution(s) to the issue as a comment.\n9. **Notify IT Team**: Sends the ticket and context to a Slack channel for visibility and action.\n10. **(Optional)** Send Email to Requester: Currently deactivated. Can be enabled to acknowledge receipt.\n\n### **How to set up**\n\n1. **Gmail Integration**\n   - Connect Gmail in the “Gmail Trigger” and “Get Email Content” nodes.\n2. **OpenAI Configuration**\n   - Use OpenAI API credentials in both the Reader and Advisor agent models.\n3. **Jira Integration**\n   - Authenticate your Jira account.\n   - Set project key and issue fields in the “Create Main Issue” node.\n4. **Slack Notification**\n   - Configure Slack connection and select a target channel.\n5. **Set up Jira, Slack, Email**\n   - Set your company Jira based URL, IT Support slack channel and IT Support email in the Edit Fields (Set) node \n6. **(Optional)** Email Acknowledgment\n   - Provide SendGrid credentials and email template in the “Send email to requester” node if re-enabled.\n\n### **Requirements**\n\n- Gmail API access with appropriate permissions  \n- OpenAI account with API access (for GPT-4 or GPT-3.5)  \n- Jira instance with project and permission to create/comment on issues  \n- Slack workspace and Webhook or OAuth setup  \n- n8n instance running with all above integrations configured\n\n### **How to customize the workflow**\n\n- **Enhance Email Deduplication**: Adjust the deduplication logic to use `message-id`, `threadId`, or custom headers.\n- **Expand Reader Agent**: Configure the LLM to extract more details such as asset tags, urgency levels, or locations.\n- **Tailor Advisor Agent**: Adjust prompt to generate multiple solutions, troubleshooting guides, or internal references.\n- **Routing by Department**: Add logic to forward requests to different teams based on the request category or department.\n- **Enable Email Acknowledgment**: Activate and customize the email notification step to inform requesters that their issue is being handled.",
        "height": 1936,
        "width": 1008
      },
      "id": "45d84fbb-8f59-47fd-81a8-35af14ec85cb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6d4633f-b2b1-4789-a373-6a37e7965203",
              "name": "Jira base URL",
              "type": "string",
              "value": "https://your-company.atlassian.net"
            },
            {
              "id": "eec503dc-6604-4e29-acb8-71dbc2c7ec4f",
              "name": "IT support slack channel",
              "type": "string",
              "value": "it-support"
            },
            {
              "id": "2e7685df-5c0c-476c-aa2c-bbf72c255dfa",
              "name": "IT support email",
              "type": "string",
              "value": "it@your-company.com"
            }
          ]
        },
        "options": {}
      },
      "id": "048da07d-58ef-4666-8fe1-582a791a53f7",
      "name": "Setup Jira, Slack, Email",
      "type": "n8n-nodes-base.set",
      "position": [
        3248,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### 1. Detect new support request email\n- Uses Gmail Trigger to detect new support request emails.\n- Retrieves the full message body and metadata.\n- Skips processing if the email has already been handled (based on READ/UNREAD label)",
        "height": 448,
        "width": 608
      },
      "id": "da6da3c7-2378-42f2-9ed4-e28faea23ed8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2. Agent extract request information from email",
        "height": 432,
        "width": 400
      },
      "id": "656b0315-1813-4eb6-8a10-4838af6a11bb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "mode": "list",
          "value": "10003",
          "cachedResultName": "Support"
        },
        "issueType": {
          "__rl": true,
          "mode": "list",
          "value": "10005",
          "cachedResultName": "Task"
        },
        "summary": "={{ $json.output[0].title }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "mode": "list",
            "value": "712020:49f03c74-eab4-4903-aee6-662433856e97",
            "cachedResultName": "Dinh Ngoc Huy"
          },
          "description": "={{ $json.output[0].description }}\nOriginal Email Content\n---\n{{ $json.output[0].original_email_content }}"
        }
      },
      "id": "e96a78a0-1708-46ff-9d45-decddc9853c0",
      "name": "Submit JIRA request ticket",
      "type": "n8n-nodes-base.jira",
      "position": [
        2576,
        432
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "VEdVfjFRzRxqdi1G",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 3. Submit request support ticket to JIRA system",
        "height": 352,
        "width": 784
      },
      "id": "f3207fc3-5e0e-46ec-aec6-cdcabd836b90",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4. IT support advisor agent\n- Analyze the user support request then propose resolution\n- Comment the resolution in JIRA ticket so IT support team can save investigation time",
        "height": 480,
        "width": 656
      },
      "id": "2854e118-bdd3-4d67-b126-d7ee9c498087",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 6. Notification\n- Inform IT support team via Slack (channel name configured via previous node) with request information & JIRA tracking link\n- Send email to requester with JIRA tracking link to follow up",
        "height": 496,
        "width": 656
      },
      "id": "4ab950c5-b1e1-492c-a62a-9b016d5ccf7b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3424,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/Screenshot+2025-07-31+at+5.00.22%E2%80%AFPM.png \"Optional title text\")",
        "height": 352,
        "width": 896
      },
      "id": "ead298d1-9ee6-4e76-9479-2c27f2a5a62f",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/Screenshot+2025-07-31+at+5.03.05%E2%80%AFPM.png \"Optional title text\")",
        "height": 432,
        "width": 768
      },
      "id": "68dec625-a4a5-40b8-9e2f-2cb863907fba",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3824,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/Screenshot+2025-07-31+at+5.06.13%E2%80%AFPM.png \"Optional title text\")",
        "height": 512,
        "width": 960
      },
      "id": "9632c8f0-3084-468d-950b-a9a412e8e33f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        720
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Get Email Content": {
      "main": [
        [
          {
            "node": "Email has been processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Support Request Reader Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "IT Support Advisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check for New Emails\t": {
      "main": [
        [
          {
            "node": "Get Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check requester email": {
      "main": [
        [
          {
            "node": "Send email to requester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IT Support Advisor Agent": {
      "main": [
        [
          {
            "node": "Add resolution comment to tracking ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Jira, Slack, Email": {
      "main": [
        [
          {
            "node": "Check requester email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message to IT Support team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Support Request Reader Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email has been processed?": {
      "main": [
        [
          {
            "node": "Support Request Reader Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "IT Support Advisor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Submit JIRA request ticket": {
      "main": [
        [
          {
            "node": "Setup Jira, Slack, Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "IT Support Advisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Request Reader Agent": {
      "main": [
        [
          {
            "node": "Submit JIRA request ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb949e5e-430e-4553-b4b1-be78f9fcfa54",
  "meta": {
    "instanceId": "e145bfb15cacc90e0d1ae6ee743e6744f8fc7108de50458700cb2ae620dc5ca5"
  },
  "id": "sdKyNEw89NBiSpPD",
  "tags": []
}